{% extends 'base.html' %}
{% block title %}
 Dashboard Booking
{% endblock %}
{% block content %}
<section id="about-us">
    <div class="container">
      <h2>About Us</h2>
      <p>Welcome to Adora Salone, your one-stop destination for all your beauty needs. We are a team of dedicated professionals who are passionate about helping you look and feel your best. With our wide range of services and expert staff, we strive to provide an exceptional beauty experience that exceeds your expectations.</p>
      <p>At Adora Salone, we believe that beauty is a form of self-expression and self-care. Whether you need a relaxing spa treatment, a stylish haircut, or a stunning makeup look for a special occasion, our skilled professionals are here to assist you.</p>
      <p>We pride ourselves on using high-quality products and maintaining the highest standards of hygiene and safety. Your satisfaction and well-being are our top priorities, and we are committed to delivering excellent service and personalized attention to each of our clients.</p>
      <p>Visit Adora Salone today and let us help you unleash your beauty potential.</p>
    </div>
  </section>
  {% endblock content %}