
  {% extends 'base.html' %}
  {% block title %}
   Dashboard Booking
  {% endblock %}
  {% block content %}
  <section id="contact-us">
    <div class="container">
      <h2>Contact Us</h2>
      <p>If you have any questions, inquiries, or feedback, we would love to hear from you. Get in touch with us using the contact details provided below:</p>
      <ul>
        <li><i class="bi bi-geo-alt-fill"></i> 123 Beauty Street, City, Country</li>
        <li><i class="bi bi-telephone-fill"></i> +1 234 567 890</li>
        <li><i class="bi bi-envelope-fill"></i> info@adorasalone.com</li>
      </ul>
      <p>Our dedicated customer support team is available during business hours to assist you. Feel free to reach out to us, and we will be happy to help!</p>
    </div>
  </section>
{% endblock content %}  